#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
}

#links-container a {
    padding: 0 20px;
}

#cred-container {
    display: flex;
    gap: 10px;
}

#cred-container button {
    padding: 10px;
}